{% block head %}


    {% endblock %}


{% extends 'base2.html' %}

{% block content %}


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <h3 class="header center orange-text">cancer Prediction</h1>
        <div class="row center">
          <h5 class="header col s12 light">Predict the probability of having Diabetes
            <br>
          </h5>
          <ul>
            <li style="color: red;"> if you want to enter male press:1, female press: 0</li>
            <li style="color: red;"> if you want to enter yes press: 2, no press: 1</li>
          </ul>
        </div>
        <div class="row">
          <form action='/predict4' method="post" class="col s12">
            <div class="row">
              <div class="input-field col s4">
                <label for="age"><b>age</b></label>
                <br>
                <input  name="1" id="age" type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="last_name"><b>Gender </b></label>
                <br>
                <input id="last_name" name="2"  type="text" class="validate">

              </div>

              <div class="input-field col s4">
                <label for="_name"><b>smoking</b></label>
                <br>
                <input id="_name" name="3"  type="text" class="validate">

              </div>
              <div class="input-field col s4">
                <label for="first_name"><b>yellow fingers</b></label>
                <br>
                <input  name="4" id="first_name" type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="last_name"><b>anxiety</b></label>
                <br>
                <input id="last_name" name="5"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label><b>peer preasure</b></label>
                <br>
                <input name='6' >

              </div>
              <div class="input-field col s4">
                <label for="last_name"><b>chronic disease</b></label>
                <br>
                <input id="last_name" name="7"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>fatigue</b></label>
                <br>
                <input id="_name" name="8"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>allergy</b></label>
                <br>
                <input id="_name" name="9"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>wheezing</b></label>
                <br>
                <input id="_name" name="10"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>alcohol</b></label>
                <br>
                <input id="_name" name="11"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>coughing</b></label>
                <br>
                <input id="_name" name="12"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>shortness of breath</b></label>
                <br>
                <input id="_name" name="13"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>swallowing of breath</b></label>
                <br>
                <input id="_name" name="14"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="_name"><b>chest pain</b></label>
                <br>
                <input id="_name" name="15"  type="text" class="validate">
              </div>
             
             



              <div class="row center">

                <button type="submit" class="btn">Predict Probability</button>

              </div>
          </form>
        </div>

        <br>


        <br><br>
    </div>
  </div>
  {% endblock %}