{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/contact1.css') }}">

    {% endblock %}

{% extends 'base.html' %}

{% block content %}
     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
        
        <div class="">
          <div class="items">
  
            
              <div class="item" id="info">
                <div class="address">
                 <p><i class="fa-solid fa-location-dot"></i> Location:  </p>
               
                  <p class="fi">abc road, 44700</p>
                </div>
  
                <div class="email">
                  <p><i class="fa-solid fa-envelope"></i> Email: </p>
                 
                  <p class="fi">abcare@example.com</p>
                </div>
  
                <div class="phone">
                  <p><i class="fa-solid fa-mobile-screen"></i> Call: </p>
                  
                  <p class="fi">+1 55234 5112 33s</p>
                </div>
              </div>
        
  
            <div class="item" id="form">
              <h2>Send a message</h2>
              <form action="" role="form" class="" method="post">
                   
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    
                  <textarea class="form-control" name="msg" rows="5" placeholder="Message" required></textarea>
                
                <button class="btn" type="submit">Send Message</button>
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

      {%endblock%}
